@import url('https://fonts.googleapis.com/css?family=MedievalSharp|Josefin+Sans');

body {
  height: 100vh;
  width: 100vw;
  font-family: 'Josefin Sans', sans-serif;
}

header {
  height: 100px;
  padding: 0 15px;
  font-size: 22px;
  display: flex;
  align-items: center;
  background-color: #264C5E;
  font-family: 'MedievalSharp', sans-serif;
}

.nav-logo {
  height: 85px;
  margin-right: 10px;
}

a {
  height: 100%;
  padding: 0 25px;
  text-align: center;
  color: #CEC2AE;
  text-decoration: none;
  display: flex;
  align-items: center;
}

header a:hover {
  background-color: #E94445;
}

main {
  height: 100%;
  width: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#selection-display {
  height: 100%;
  width: 65%;
  background-color: yellowgreen;
}

#selection-buttons-div {
  height: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#selection-button-monsters {
  border-radius: 10px 0 0 10px;
}

#selection-button-players {
  border-radius: 0 10px 10px 0;
}

.selected-display-button {
  background-color: lightgray;
}

.encounter-selection {
  height: 93%;
  width: 100%;
  background-color: blue;
  display: none;
}

.displayed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#search-monsters {
  width: 90%;
  height: 30px;
  background-color: orange;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#search-monsters-input {
  width: 50%;
}

#displayed-monsters {
  width: 95%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  background-color: brown;
}

.monster {
  min-height: 50px;
  width: 95%;
  margin: 0 0 5px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: pink;
}

#displayed-players {
  width: 95%;
  height: 80%;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow: auto;
  background-color: green;
}

.player {
  height: 100px;
  width: 45%;
  margin: 10px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
}

#new-player-name {
  width: 40%;
}

#new-player-hp {
  width: 30%;
  text-align: right;
}

#added-characters {
  height: 100%;
  width: 30%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: purple;
}

.added-display {
  width: 100%;
  height: 40%;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.added {
  min-height: 30px;
  width: 90%;
  padding: 0px 7px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.added-monster-name {
  width: 60%;
}

.added-monster-amount {
  width: 20%;
  text-align: right;
}

#encounter-builder-buttons-div {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.encounter-builder-buttons {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  border: 2px solid black;
  background-color: blue;
}