<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/encounter-builder.css">
    <title>DND N Stuff</title>
  </head>
  <body>

    <header id="header">
      <h2>DnD Encounter Builder</h2>
      <nav>
        <a href="/">Home</a>
        <a href="/encounters">Encounters</a>
      </nav>
    </header>

    <main>

      <section id="selection-display">
        <div id="selection-buttons-div">
          <button id="selection-button-monsters" class="selected-display-button selection-buttons">Monsters</button>
          <button id="selection-button-players" class="selection-buttons">Players</button>
        </div>
        
        <section class="encounter-selection displayed" id="monsters-selection">
          <form name="search-monsters" id="search-monsters">
            <input placeholder="Search name" id="search-monsters-input"/>
            <button
              type="submit"
            >Search</button>
          </form>
  
          <section id="displayed-monsters"></section>
        </section>

                
        <section class="encounter-selection" id="player-selection">
          <h2>Players</h2>

          <section id="displayed-players"></section>
        </section>

      </section>

      <section id="added-characters">
        <h2>Encounter:</h2>
        <p>Monsters</p>
        <section id="added-display-monsters" class="added-display"></section>
        
        <p>Players</p>
        <section id="added-display-players" class="added-display"></section>

        <div id="encounter-builder-buttons-div">
          <button class="encounter-builder-buttons" id="create-encounter-btn">Create Encounter</button>
          <a class="encounter-builder-buttons" href="/encounters">Cancel Creation</a>
        </div>
      </section>
    </main>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/js/encounters-builder.js"></script>
  </body>
</html>