<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/encounters.css">
    <link rel="icon" href="{{url_for('static', filename='images/logo.png')}}">
    <title>DnD Encounters</title>
  </head>
  <body>
    <header id="header">
      <img src="{{url_for('static', filename='images/logo.png')}}" alt="logo" class="nav-logo">
      <a href="/">
        <h3>DragonMasters</h3>
      </a>
      <a href="/encounters">Encounter</a>
    </header>

    <main>

      <section id="all-encounters-display">
        <div id="build-encounter-button-wrap">
          <a id="build-encounter-button" href="/encounter-builder">Build Encounter</a>
        </div>
        <section id="all-encounters"></section>
      </section>

      <section id="displayed-encounter"><p>Select an encounter</p></section>
    </main>
  
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/js/encounters.js"></script>
  </body>
</html>