<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DnD Encounter Builder</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <header id="header">
      <h2>DnD Home</h2>
      <nav>
        <a href="/">Home</a>
        <a href="/encounters">Encounters</a>
      </nav>
    </header>

    <br/>
    <br/>

    <button id="random-button">Click me!</button>
    
    <br/>
    <br/>
    
    <section id="main"></section>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	  <script src="/static/js/index.js"></script>
  </body>
</html>